
	{% if seguridad == "digitador" or seguridad == "administrador" %}
  	<h3>Matr&iacute;cula</h2>
		<ul class="nav nav-pills nav-stacked"> 
			<li>
				<a href="matricula-registrar" >Registrar</a>
			</li> 
			<li>
				<a href="matricula-modificar-listar" >Modificar</a>
			</li> 
		</ul> 
  	{% endif %}
  	{% if seguridad == "visualizador" or seguridad == "administrador" %}
  	<h3>Reportes</h2>
  		<ul class="nav nav-pills nav-stacked"> 
			<li>
				<a href="matricula-seguimiento" >Seguimiento</a>
			</li>
		</ul> 
  	{% endif %}
<a href="logout" >Salir</a>